<table class="table table-striped table-hover"  style="width:50%">
  <tr>
    <th>Menu</th>
    <th>Season</th>
    <th></th>
  </tr>

  <% @menus.each do |menu| %>
    <tr>
      <td><%= link_to "#{menu.name}", menu, method: 'GET'%></td>
      <td><%= menu.season %></td>
      <td><%= link_to "Remove", menu, method: :delete, data: { confirm: "Are you sure?" } %></td>

    </tr>
  <%end%>
</table>
