<h3><%= @menu.name%></h3>

<h4>Select the meals you want on your menu</h4>


<div class="meal_selection">
  <%= render partial: 'selection' %>
</div>

<div class="menu_meals">
  <%= render partial: 'menu_meals' %>
</div>
