<h3><%= @menu.name%></h3>

<h4>Select the meals you want on your menu</h4>


<div class="meal_selection">
  <%= render partial: 'selection', locals:{meals: @meal_list, method: :add} %>
</div>


<div class="menu_meals">
<%= render partial: 'selection', locals:{meals: @menu_list, method: :delete} %>
</div>

<div class="done_button">
  <%= link_to "<button>Done</button>".html_safe, menus_path, method: 'GET' %>
</div>
