<div class="show_meal">
  <%= render partial: 'info' %>
</div>

<div class="list_meal">
  <%= render partial: 'ingredient_list' %>
</div>

<div class="list_meal">
  <%= render partial: 'search' %>
</div>

<div class="search">
  <%= render partial: 'meal_ingredients_list' %>
</div>
