<div class="show_meal">
  <%= render partial: 'info' %>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="list_meal">
      <%= render partial: 'ingredient_list' %>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="search">
      <%= render partial: 'meal_ingredients_list' %>
    </div>
  </div>
</div>

<div class="done_button">
  <%= link_to "<button>Done</button>".html_safe, meals_path, method: 'GET' %>
</div>
