<div class="col-md-9">
  <div class="list_ing">
    <%= render partial: 'list' %>
  </div>
</div>

<div class="col-md-3 side">
  <div class="show_ing">
    <%= render partial: 'info' %>
  </div>
</div>
