
<div class="map-wrapper" id="map wrapper">
  <!-- <div class="main"> -->
  <div class="map" id="map"></div>
  <!-- </div> -->

  <div class="side-menu-map" id="mySidenav" class="sidenav">
    <div id="nameRest">
      <h2>Welcome...</h2>
      <p>...to DailyEAT, your restaurant searcher that allows you to look for restaurants depending on its updated deals. Select the nearby restaurants to display their information and their daily menu.</p>
      <h4>Restaurant Information</h4>
    </div><br><br>

    <h4 id="menu"></h4>
    <ul id="menuMeals"></ul>
    <p id="menuPrice"></p>
  </div>


<script type="text/javascript">
  $(window).load(function(){
      $('#myModal').modal('show');
  });
</script>
