// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  width: 100%;
  height: 800px;
  background: linear-gradient(209deg, #7a2525, #b48e8e);
  background-size: 400% 400%;

  -webkit-animation: background 37s ease infinite;
  -moz-animation: background 37s ease infinite;
  animation: background 37s ease infinite;
}

@-webkit-keyframes background {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}
@-moz-keyframes background {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}
@keyframes background {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}

.side {
  border: 1px;
  border-color: black;
}

body {
  background-color: #FAFAFA;
}


#mySidenav {
  width: 20%;
}
