<div class="row" style="background: #A33931">
  <div class="col-md-3">
    <div class="logo">
      <img src="27305.png" style="width:40px;height:40px;">
      <h2 style="color: white; font-size: 40px; font-family: Lemon ">DailyEAT</h2>
    </div>
  </div>

  <div class="col-md-6"></div>

  <div class="col-md-3">

    <nav class="navigation_bar" style="float: right">
      <%= link_to "My profile" %> |
      <%= link_to "Log out", '/logout', method: 'DELETE' %> |
      <%= link_to "Sign up", '/signup' %> |
      <%= link_to "Log in", '/login'  %>
    </nav>

  </div>
</div>
